**/bin/
**/obj/
.vs/
.idea/
TestResults/
artifacts/
publish/
*.user
*.suo
*.tmp
*.log
work/
.dotnet-cli/
.env
.env.*
*.pfx
*.p12
*.key
*.pem
*.snk
*.cache
*.bak
*.userprefs
*.pidb
*.mdb
*.opendb
*.VC.db
*.VC.opendb
*.rsuser
*.local.json
